<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= select_tag :user_log, options_from_collection_for_select(@user.user_logs, 'id', 'date'), :include_blank => true %>
</p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Company:</b>
  <%= @user.company %>
</p>

<p>
  <b>Phone:</b>
  <%= @user.phone %>
</p>

<p>
  <b>Designation:</b>
  <%= @user.designation %>
</p>

<p>
  <b>Address:</b>
  <%= @user.address %>
</p>

<p>
  <b>City:</b>
  <%= @user.city %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<script>
	$(function(){
		$('#user_log').change(function(){ 
			if(!$(this).val() == ''){
				var user_id = window.location.pathname.split('/')[2];
				window.location='/users/' + user_id + '/user_logs/' + $(this).val(); 
			}		
		});
	});	
</script>
